/* Lufga Font Family - Combined */

// @font-face {
//   font-family: 'lufga-light';
//   src: url('../../fonts/lufga/LufgaLight.ttf') format('truetype');
//   font-weight: 300;
//   font-style: normal;
//   font-display: swap;
// }

// @font-face {
//   // font-family: 'Lufga';
//   font-family: 'lufga-regular'; 
//   src: url('../../fonts/lufga/LufgaRegular.ttf') format('truetype');
//   font-weight: 400;
//   font-style: normal;
//   font-display: swap;
// }

// @font-face {
//   // font-family: 'Lufga';
//   font-family: 'lufga-medium'; 
//   src: url('../../fonts/lufga/LufgaMedium.ttf') format('truetype');
//   font-weight: 500;
//   font-style: normal;
//   font-display: swap;
// }

// @font-face {
//   // font-family: 'Lufga';
//   font-family: 'lufga-semibold'; 
//   src: url('../../fonts/lufga/LufgaSemiBold.ttf') format('truetype');
//   font-weight: 600;
//   font-style: normal;
//   font-display: swap;
// }

/* Barcelony Font */
@font-face {
  font-family: 'Barcelony';
  src: url('../../fonts/barcelony.woff2') format('woff2');
  font-display: swap;
}
